.idea
__pycache__
*.ipynb
*.csv
install-packages
temp.py
download_gdrive_csvs.py
Data/DAMSELFISH_distributions.cpg
Data/DAMSELFISH_distributions.dbf
Data/DAMSELFISH_distributions.prj
Data/DAMSELFISH_distributions.shp
Data/DAMSELFISH_distributions.shx
Data/dataE5.png
Data/Senaatintori.cpg
Data/Senaatintori.dbf
Data/Senaatintori.prj
Data/Senaatintori.shp
Data/Senaatintori.shx
Data/top_50.cpg
Data/top_50.dbf
Data/top_50.prj
Data/top_50.shp
Data/top_50.shx
shapefiles/Europe_borders/Europe_borders.cpg
shapefiles/Europe_borders/Europe_borders.dbf
shapefiles/Europe_borders/Europe_borders.prj
shapefiles/Europe_borders/Europe_borders.sbn
shapefiles/Europe_borders/Europe_borders.sbx
shapefiles/Europe_borders/Europe_borders.shp
shapefiles/Europe_borders/Europe_borders.shx
shapefiles/kml_polygons.zip
shapefiles/kml_polygons/kml_polygons.cpg
shapefiles/kml_polygons/kml_polygons.dbf
shapefiles/kml_polygons/kml_polygons.prj
shapefiles/kml_polygons/kml_polygons.shp
shapefiles/kml_polygons/kml_polygons.shx
shapefiles/kml_polygons_alt/kml_polygons_alt.cpg
shapefiles/kml_polygons_alt/kml_polygons_alt.dbf
shapefiles/kml_polygons_alt/kml_polygons_alt.prj
shapefiles/kml_polygons_alt/kml_polygons_alt.shp
shapefiles/kml_polygons_alt/kml_polygons_alt.shx
shapefiles/kml_polygons_TopoJSON.json
shapefiles/nsw_state_polygon_shp/NSW_STATE_POLYGON_shp.cpg
shapefiles/nsw_state_polygon_shp/NSW_STATE_POLYGON_shp.dbf
shapefiles/nsw_state_polygon_shp/NSW_STATE_POLYGON_shp.prj
shapefiles/nsw_state_polygon_shp/NSW_STATE_POLYGON_shp.shp
shapefiles/nsw_state_polygon_shp/NSW_STATE_POLYGON_shp.shx
shapefiles/nsw_state_polygon_shp_gda2020/NSW_STATE_POLYGON_shp_GDA2020.cpg
shapefiles/nsw_state_polygon_shp_gda2020/NSW_STATE_POLYGON_shp_GDA2020.dbf
shapefiles/nsw_state_polygon_shp_gda2020/NSW_STATE_POLYGON_shp_GDA2020.prj
shapefiles/nsw_state_polygon_shp_gda2020/NSW_STATE_POLYGON_shp_GDA2020.shp
shapefiles/nsw_state_polygon_shp_gda2020/NSW_STATE_POLYGON_shp_GDA2020.shx
shapefiles/output.png
storage.json
